* {
    font-family: Outfit;
    margin: 0%;
    padding: 0%;
}

html,
body {
    height: 100%;
    background-color: #0D192C;
    color: white;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    box-sizing: border-box;
    border-radius: 15px;
    flex: 0 0 350px;
    padding: 24px;
    background-color: #15263f;
}

.item-image {
    width: 302px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.item-image::hover {
    background: #00fff8;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 18px;
}

h1:hover {
    color: #00fff8;
    cursor: pointer;
}

p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #8BACD9;
}

h2 {
    font-size: 16px;
}

.avatar-img {
    width: 32px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
}

.details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    margin-bottom: 16px;
    border-bottom: #979797 solid 1px;
}

.eth-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.clock-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.clock-container > h2 {
    font-weight: 100;
}

.eth-container > h2 {
    color: #00fff8;
}

figure {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 8px;
}
span {
    color: white;
}

span:hover {
    color: #00fff8;
    cursor: pointer;
}

figcaption {
    display: flex;
    gap: 5px;
    color: #8BACD9;
}

.item-image::hover {
    color: #00fff77e;
}